<template>
  <div>
    <h1>Dealer</h1>
    <GameCards :cards="!playerFinished ? cards.slice(0,1) : cards"></GameCards>
  </div>
</template>

<script>
import GameCards from "@/components/Game/GameCards";
import { getCards } from "@/api/cardsAPI"

export default {
  name: 'GameDealer',
  components: {GameCards},
  props: ['cards', 'playerFinished', 'dealerFinished', 'playerBusted'],
  data() {
    return {

    }
  },
  updated() {
    if(this.playerFinished && !this.dealerFinished && !this.playerBusted) {
      setTimeout(() => {
        this.getCard() // Get another card if dealer is not finished
      }, 1000);
    }
  },
  methods: {
    getCard() {
      getCards(this.$parent.deck.deck_id, 1).then(data => {
        this.$parent.dealerCards.push(data.cards[0])
      })
    }
  }

}
</script>