<template>
  <div>
    <div id="img-container" v-for="(card) in cards" :key="card.code">
      <img :src="card.image" width="100em"/>
    </div>
  </div>
</template>

<script>
export default {
  name: 'GameCards',
  props: ['cards'],
}
</script>

<style>
#img-container {
  display: inline-block;
}

</style>