<template>
  <div>
    <h1>Player</h1>
    <GameCards :cards="cards"/>
    <div v-for="(card) in cards" :key="card.code">
      <select v-if="card.value === 'ACE'" @change="onAceChange">
        <option value="1">1</option>
        <option value="11">11</option>
      </select>
    </div>
    <button v-if="!this.$parent.playerFinished" type="button" @click="onHitClick">Hit me</button>
    <button v-if="!this.$parent.playerFinished" type="button" @click="onStandClick">Stand</button>
  </div>
</template>

<script>
import GameCards from "@/components/Game/GameCards";
import {getCards} from "@/api/cardsAPI";

export default {
  name: 'Player',
  components: {GameCards},
  props: ['cards'],
  methods: {
    onHitClick() {
      getCards(this.$parent.deck.deck_id, 1).then(data => {
        this.$parent.playerCards.push(data.cards[0])
      }).catch(err => console.log(err.message))
    },
    onStandClick() {
      //this.$emit('getSum', this.cards) this isn't working
      this.$parent.playerFinished = true
    },
    onAceChange(event) {
      if (event.target.value == 1) this.$parent.aceValues -= 10
      else this.$parent.aceValues += 10
    }
  }
}
</script>