<template>
  <div>
    <h1>Blackjack 🃏</h1>
    <p>Welcome to the game, {{$route.params.playerName}}</p>
    <GameDealer :cards="dealerCards" :playerFinished="playerFinished" :dealerFinished="dealerFinished" :playerBusted="playerBusted"/>
    <GamePlayer :cards="playerCards"/>
    <GameResult
        v-if="dealerFinished"
        :playerSum="playerSum"
        :dealerSum="dealerSum"
        :playerBusted="playerBusted"
        :dealerBusted="dealerBusted"
    />
  </div>
</template>

<script>
import GameDealer from './GameDealer'
import GamePlayer from './GamePlayer'
import { shuffleDeck, getCards } from "@/api/cardsAPI"
import GameResult from "@/components/Game/GameResult";

export default {
  name: 'Game',
  components: {GameResult, GameDealer, GamePlayer},
  data() {
    return {
      deck: {},
      dealerCards: [],
      playerCards: [],
      playerFinished: false,
      dealerFinished: false,
      playerBusted: false,
      dealerBusted: false,
      playerSum: 0,
      dealerSum: 0,
      aceValues: 0
    }
  },
  created() {
    shuffleDeck().then(deck =>{
      this.deck = deck
      getCards(this.deck.deck_id, 2).then(data => {
        this.dealerCards = data.cards
      })
      getCards(this.deck.deck_id, 2).then(data => {
        this.playerCards = data.cards
      })
    })
    .catch(err => console.log(err.message))
  },
  watch: {
    playerCards: function(val) {
      this.playerSum = this.getSum(val)
      if(this.playerSum === 21) this.playerFinished = true
      else if(this.playerSum > 21) {
        this.playerBusted = true
        this.playerFinished = true
      }
    },
    dealerCards: function(val) {
      this.dealerSum = this.getDealerSum(val)
      if(this.playerBusted) this.dealerFinished = true // Just finish if the player busted
      else if(this.dealerSum > 21) {
        this.dealerBusted = true
        this.dealerFinished = true
      }
      else if(this.dealerSum > 16) this.dealerFinished = true
    }
  },
  methods: {
    getSum(arr) {
      let sum = 0
      for(let i = 0; i < arr.length; i++) {
        if(arr[i].value === 'JACK' || arr[i].value === 'QUEEN' || arr[i].value === 'KING') sum += 10
        else if (arr[i].value === 'ACE') sum += 1
        else sum += Number(arr[i].value)
      }
      sum += this.aceValues
      return sum
    },
    getDealerSum(arr) {
      let sum = 0
      for(let i = 0; i < arr.length; i++) {
        if(arr[i].value === 'JACK' || arr[i].value === 'QUEEN' || arr[i].value === 'KING') sum += 10
        else if(arr[i].value === 'ACE') {
          if(sum + 11 <= 21) sum += 11 // Add 11 if possible
          else sum += 1
        }
        else sum += Number(arr[i].value)
      }
      return sum
    }
  }
}
</script>

