<template>
  <div>
    <h1 id="result">The {{winner}} won this round 🏆</h1>
    <p>Player: {{playerSum}} <span v-if="playerBusted">(busted)</span></p>
    <p>Dealer: {{dealerSum}} <span v-if="dealerBusted">(busted)</span></p>
  </div>
</template>

<script>
export default {
  name: 'GameResult',
  props: ['playerSum', 'dealerSum', 'playerBusted', 'dealerBusted'],
  data() {
    return {
      winner: '',
    }
  },
  created() {
    if(this.playerSum > this.dealerSum && this.playerSum < 22) this.winner = 'Player'
    else if(this.dealerSum > this.playerSum && this.dealerSum < 22) this.winner = 'Dealer'
  }
}
</script>

<style>
#result {
  color: #FFC83D;
}
</style>