<template>
  <div>
    <label for="playername">Player name:</label>
    <input id="playername" type="text" placeholder="Enter your player name..." @input="onPlayerNameChange"/>
    <button type="button" @click="onStartGameClick">Start game</button>
  </div>
</template>
<script>
export default {
  name: 'StartPage',
  methods: {
    onPlayerNameChange(event) {
      this.playerName = event.target.value.trim()
    },
    onStartGameClick() {
      this.$router.push(`/play/${this.playerName}`)
    }
  },
  data() {
    return {
      playerName: ''
    }
  }
}
</script>
